openai-whisper==20231117
aiohttp==3.8.6
tts==0.22.0
huggingface-hub==0.20.2
langchain
langchain-community
openai
python-dotenv
unstructured
chromadb
# WhisperX install
git+https://github.com/m-bain/whisperx.git
