aiohttp==3.8.6
tts==0.22.0
huggingface-hub==0.20.2
pysqlite3-binary
chromadb>=0.3.29
langchain==0.1.4
langchain-community==0.0.15
langchain-groq==0.0.1
openai==1.9.0
python-dotenv==1.0.1
unstructured==0.12.2
# WhisperX install
git+https://github.com/m-bain/whisperx.git
