html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.translucent-menu {
    background-color: rgba(255, 0, 0, 0.8);
    /* Adjust the color and opacity as needed */
    backdrop-filter: blur(5px);
    /* Add a blur effect to the background */
    border-radius: 8px;
    /* Optional: Add rounded corners */
    padding: 16px;
    /* Optional: Add padding to the menu */
}

::-webkit-scrollbar {
    width: 10px; /* Adjust width of the vertical scrollbar */
    height: 10px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll handle on hover */
}
