html,
body {
    padding: 0;
    margin: 0;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.translucent-menu {
    background-color: rgba(255, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 16px;
}

.no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}
